{% extends 'base.html.twig' %}
{% block body %}
    <div id="loader">
        <img src="loader.gif" alt="loader">
        <p>Chargement en cours</p>
    </div>
	<div class="titre">
    </div>
    <div class="container">
        <div class="carte">
            <div id="map"></div>
        </div>
        <div class="aside">
            <form id="formulaire" action="" method="post">
                <select name="Domaine" id="domaine">
                    <option value="tous" selected="selected">Tous</option>
                </select>
                <select name="Département" id="departement">
                    <option value="tous" selected="selected">Tous</option>
                </select>
                <select name="Mois" id="mois">
                    <option value="tous" selected="selected">Tous</option>
                </select>
                <input type="submit" value="Validez">
                <p id="message"></p>
            </form>
        </div>
    </div>
	
</div>{% endblock %}
